<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/amolu/eclipse-workspace/workspace2/POM8AMJan2024/src/test/java/regression/clients/AddClientTest.java"><classes><class name="regression.clients.AddClientTest"><methods><include name="addClientTest"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/Users/amolu/eclipse-workspace/workspace2/POM8AMJan2024/src/test/java/regression/ForgotPasswordTest.java"><classes><class name="regression.ForgotPasswordTest"><methods><include name="forgotPasswordTest"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/Users/amolu/eclipse-workspace/workspace2/POM8AMJan2024/src/test/java/regression/LoginTest.java"><classes><class name="regression.LoginTest"><methods><include name="loginTest"/></methods></class></classes></test></suite>